@{
    Layout = null;
    var showSplash = ViewBag.ShowSplash != null ? ViewBag.ShowSplash : false;
}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    <span class="center-block"><img alt="" src="/logo.svg" width="64" height="64" /></span>
                    Poetry Hub
                </h1>
                <p><i>Poems that Rock</i></p>
                @if (!showSplash)
                {
                    <a data-ng-href="/createDraft" role="button" class="btn btn-success btn-lg" ng-if="vm.loggedIn">
                        <i class="fa fa-pencil fa-fw"></i> New poem
                    </a>
                    <a data-ng-href="/poems" class="btn btn-lg btn-warning" role="button">
                        <i class="fa fa-book fa-fw"></i> Read poems
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="page-header">Welcome</h1>
            <p>Have fun reading and writing poetry!</p>
        </div>
    </div>
</div>
